@model PostDto

@{ 
    //This is how we supply values to metafields in _Layout.
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
}


<div class="container">
    <div class="post no-shadow">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            var img_path = $"/Image/{Model.Image}";
            <img src="@img_path" alt="Downloaded image" />
            <span class="title">@Model.Title</span>
        }

    </div>
    <div class="post-body">
        @Html.Raw(Model.Body);
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="comment-section">
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
            }

            @foreach (var c in Model.MainComments)
            {
                <div class="comment-content">
                    <p class="creaction-date">@c.Created</p>
                    <p class="comment-body">@c.Message</p>

                </div>

                <div>
                    @*<h4>Sub Comments</h4>*@
                    @*@{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id });
                    }*@

                    @foreach (var sc in c.SubComments)
                    {
                        <div class="comment-content">
                            <p class="creaction-date">@sc.Created</p>
                            <p class="comment-body">@sc.Message</p>
                        </div>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div>
            <a asp-controller="Auth" asp-action="Login">Sign In</a> to comment on this post.
        </div>
    }

</div>