@model IndexViewModel

@{ 
    //This is how we supply values to metafields in _Layout.
    ViewBag.Title = "Blog";
    ViewBag.Description = "Publish your pictures with cool description attached to it";
    ViewBag.Keywords = "blog programming travel photography";
}

<div class="main-img">
    <span class="title">My Blog</span>
</div>

<div class="container">
    @foreach (var post in Model.Posts)
    {
        var img_path = $"/Image/{post.Image}";

        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@img_path" alt="Downloaded image" />
            <span class="title">
                @post.Title
            </span>
        </a>
    }

    <div class="pages">
        @if (Model.PageNumber > 1)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category"
               asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
        }

        @for (int i = 1; i <= Model.PageCount; i++)
        {

            string activeClass = i == Model.PageNumber ? "active" : "";
            <a class="@activeClass" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category"
                asp-route-pageNumber="@i">@i</a>
        }

        @if (Model.NextPage)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category"
               asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
        }
    </div>
</div>