@model Post

@{ 

}


@*<h2>@Model.Title</h2>

@if(!string.IsNullOrEmpty(Model.Image))
{
    var img_path = $"/Image/{Model.Image}";
    <img src="@img_path" alt="Downloaded image" width="500" />
}

<p>@Model.Body</p>*@

<div class="container">
    <div class="post no-shadow">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            var img_path = $"/Image/{Model.Image}";
            <img src="@img_path" alt="Downloaded image" />
            <span class="title">@Model.Title</span>
        }

    </div>
    <div class="post-body">
        @Model.Body
    </div>
</div>